/*text formatting*/
#title{
	text-align: center;
}

/*board/hand formatting*/
div{
	vertical-align: top;
	line-height: 0;
}
div.cell{
	
	border: 1px solid black;
	background-color: #FFF0B0;
	height:175px;
	width:175px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	/*https://www.w3schools.com/css/css3_flexbox_container.asp 09:27 12/01/2025*/
	
	float:left;
}
#hand{
	margin-top: 25px;
	overflow: hidden;
	/*https://stackoverflow.com/questions/5803023/how-to-place-two-divs-next-to-each-other 17:44 12/01/2025*/ 
	border: 1px solid black;
}
#row,#hand{
	height: 175px;
}
#board,#row,#hand{
	width: fit-content;
	margin-inline: auto;
}

/*tile formatting*/
div.tile{
	border: 1px solid black;
	font-size: 64px;
	text-align: center;
	height:125px;
	width:125px;
	margin-inline: auto;
	
	display: flex;
	justify-content: center;
	align-items: center;
	/*https://www.w3schools.com/css/css3_flexbox_container.asp 00:40 12/01/2025*/
	
	position: relative;
	/*https://www.w3schools.com/css/css_positioning.asp 00:47 12/01/2025*/
}

#tileValue{
	position: absolute;
	right: 0px;
	bottom: 0px;
	/*https://www.w3schools.com/css/css_positioning.asp 00:47 12/01/2025*/
	font-size: 32px;
}
